.miBoton{
	margin: 30px;
	font-size: 1,5em;
	font-weight: bold;
	padding: 1px 70px ;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	color: white;
	background-color: blueviolet;
}

.miBoton:hover{
	background-color: blue;
}
