/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu:wght@500&family=Urbanist:wght@500&display=swap');

/* Estilo pre-determinado del cuerpo principal del documento */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Estilos personalizados para la Navbar*/
.navbar {
    --bs-navbar-hover-color:rgb(238, 255, 0) ;
}
.miItem {
    font-size: 15px;
    color: white;
    font-weight:bold;
    text-align: center;
}

/* Estilos personalizados para los textos del los elementos del carrusel de la Portada */
.carousel-caption h5 {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: rgb(139,0,139,40%);
    margin-bottom: 0px;
}
.carousel-caption p {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(139,0,139,40%);
}

/* Media query para el comportamiento de la altura del carrousel de la Portada */
@media screen and (min-width: 1280px){
    .carousel-item {
        height: 100vh;
    }
}

/* Clase contenedora de tarjetas de Sucursales */
.claseSucur {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: blueviolet;
}
.claseSucur h5 {
    color: blueviolet;
}
.claseSucur a {
    color: blueviolet;
    text-decoration: none;
}

/* Clase contenedora de tarjetas de Servicios */
.claseServ {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: blueviolet;
}
.claseServ h5 {
    color: blueviolet;
    font-size: 25px;
}

/* Clase contenedora de tarjetas de Ofertas */
.claseOfer {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: blueviolet;
    color: white;
}
.claseOfer h2 {
    color: red ;
}
.w3-third ul {
    background-color: rgb(252, 252, 176);
    color: rgb(101, 44, 155);
}
.w3-third p {
    color: black;
    font-weight: bold;
}
.w3-border {
    border-radius: 10px;
}

/* Personalización del form de Suscripción */
.claseSusc {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: blueviolet;
}
.claseSusc h5 {
    color: blueviolet;
    font-size: 25px;
}
.claseSusc h2 {
    color: yellow;
    text-align: center;
}
.claseSusc p {
    color: blueviolet;
    text-align: center;
    margin-bottom: 0px;
}
.contSusc {
    padding: 10px;
    background-color: rgb(252, 252, 176) ;
}
.contSusc h2 {
    color: blueviolet;
    text-align: center;
}
input[type=submit] {
    background-color: rgb(11, 94, 215);
    padding: 5px;
    margin: 0px;
    color: white;
    border: none;
}
input[type=submit]:hover {
    opacity: 0.8;
}

/* Media query para el comportamiento del contenedor de suscripción */
@media screen and (min-width: 1280px) {
    .claseSusc {
        padding-left: 350px;
        padding-right: 350px;
    }
}
@media screen and (max-width: 600px) {
    .claseSusc {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Clase contenedora de tarjetas de Marcas */
.claseMarc {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: blueviolet;
    color: white;
}
.claseMarc h2 {
    color: yellow;
}
.claseMarc p {
    margin-bottom: 60px;
}

/* Clase contenedora de formulario de Contacto */
.claseConta {
    background-color: rgb(249, 249, 147);
}

/* Clase contenedora del footer */
.clasePie {
    margin-top: 0px;
    padding-left: 200px;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: blueviolet;
    color:yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clasePie a {
    color: white;
    text-decoration: none;
}
.clasePie p {
    margin-bottom: 5px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: yellow;
}
.clasePie h4 {
    color: yellow;
}
.clasePie li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* Media query para el comportamiento del footer */
@media screen and (min-width: 1340px){
    .clasePie {
		padding-left: 200px;
		padding-right: 40px;
	}
}
@media screen and (max-width: 1340px){
    .clasePie {
		padding-left: 150px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1260px){
    .clasePie {
		padding-left: 120px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1230px){
    .clasePie {
		padding-left: 100px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1210px){
    .clasePie {
		padding-left: 50px;
		padding-right: 5px;
	}
}
@media screen and (max-width: 900px){
    .clasePie {
		padding-left: 20px;
		padding-right: 5px;
	}
}
@media screen and (max-width: 745px){
    .clasePie {
		padding-left: 2px;
		padding-right: 2px;
	}
}
@media screen and (max-width: 745px){
    .clasePie {
		padding-left: 100px;
		padding-right: 2px;
	}
}

/* Personalización del Botón Acordeón de Quiénes somos */
.claseAcor {
    margin-right: 140px;
}
.accordion {
    --bs-accordion-color: yellow;
    --bs-accordion-bg: blueviolet;
    --bs-accordion-btn-color: yellow;
    --bs-accordion-btn-bg: blueviolet;
    --bs-accordion-active-bg: blueviolet;
    --bs-accordion-btn-active-color: yellow;
    --bs-accordion-btn-focus-border-color: blueviolet;
    --bs-accordion-btn-focus-box-shadow: blueviolet;
    --bs-accordion-active-color: yellow;
    --bs-accordion-active-bg: blueviolet;
}
.accordion-button {
    padding-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.accordion-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/* Personalización del Powered by */
.clasePower h4 {
    margin-top: 40px;
    padding-bottom: 0px;
}
.clasePower a {
    text-decoration: underline;
}

